// Custom.scss
// Option B: Include parts of Bootstrap

// Include any default variable overrides here
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1100px,
);

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../fonts/fonts.css';

// :root {
//   --gray:#646464;
//  }


html {
  font-size:18px;
  overflow-x:hidden;  
}

body {
  padding-top:80px;
  overflow-x:hidden;
}

.fw-semibold {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brsonoma';
  color: #646464;
}


*:not(h1, h2, h3, h4, h5, h6, a, span) {
  font-family: 'Nunito';
  color: #646464;
}

a {
  font-family: 'Nunito';
  color: #00adf0;
  text-decoration: none;
  &:hover {
    color: #158dbb;
  }

  &:active {
    color: #0e6282;
  }

  &:visited {
    color: #073f55;
  }
}

.navbar {
  & .collapsing, .collapse.show {
    & ul {
      margin-left: 0px;
      & li {
        margin-top:15px;

        & a {
          text-align: center;
        }

      }
    }
  }

  &-collapse {
    justify-content: flex-end;
  }


  & ul {
  margin-left: 0px;
  flex-wrap:nowrap;

    & li {
    padding:0;
    margin-right: 5px;
    white-space: nowrap;

    & a {
      color: #646464;
      font-size: 16px;
      border-radius: 10px;

      &:hover {
        background-color:rgba(245,245,247,1);
      }

      &:active {
        color: #646464;
      }
      }
    }
  }
}

.site-branding {
  max-width:150px;
  position:relative;
  bottom: 8px;
}

.hero {
  display: flex;
  align-items:center;

  padding:20px;

  &__img{
    height:600px;
  }
}

.support {
  display: flex;
  align-items:center;

  &__img{
    object-fit: contain;
  }
}



.product {

  border-radius:10px;
  margin:20px 20px 0px 20px;
  padding:20px;
  text-align: center;
  width: 100%;
  background-color:white;
  box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);

  cursor:pointer;
  transition:all 0.1s;

  &__icon {
    height:100px;
  }

  &--box {
    @extend .product;
    // width:270px;
    // height:250px;
  }

  &--card {
    @extend .product;
   // width:100%;
  }

  &:hover {
    transform:scale(1.05);

  }
}


.bg-blue {
  background-color: #00adf0;
}

.bg-blue-2 {
  background-color: #4dc5f4;
}

.bg-white {
  background-color:white;
}

.gray {
  color: #646464;
}

.white {
  color: #ffffff;
}

.blue {
  color:#00adf0;
}

.blue-2 {
  color: #4dc5f4;
}

.bg-head-blue {
  position:relative;
  top:5px;
  z-index:-9999;
}

.bg-curve {
  position:absolute;
  width: 100%;
  z-index: -9999;
  top:200px;
  opacity:0.8;
}

.bg-header {
  position:absolute;
  width: 100%;
  z-index: -9999;
  top:-50px;
  opacity:0.8;
}

.bg-tail{
  height:600px;
  opacity:0.8;

  &-gray{
    @extend .bg-tail;
    background: rgb(245,245,247);
    background: linear-gradient(180deg, rgba(245,245,247,1) 0%, rgba(255,255,255,1) 100%);
  }
}

.button {
  border-radius:20px;
  border:0px;
  padding:5px 40px;

  &--blue{
    @extend .button;
    background-color: #00adf0;
    color:white;
  }

  &--white{
    @extend .button;
    background-color: white;
    color:#4dc5f4;
  }
  

  &--big {
    @extend .button;
    padding:10px 60px;

    &blue{
      @extend .button--big;
      background-color: #00adf0;
      color:white;
    }

    &white{
      @extend .button--big;
      background-color: white;
      color:#4dc5f4;
    }
  }
}

// li.featured {
//   border: 0 !important;
//   border-radius: 20px !important;
//   padding: 0px 25px !important;
//   transition: background-color 0.2s;

//   &--blue{
//     @extend .featured;

//     background-color: #00adf0 !important;

//     &:hover {
//       background-color: #158dbb !important;
//     }
  
//     &:active {
//       background-color: #0e6282 !important;
//     }
  
//     &:visited {
//       background-color: #073f55 !important;
//     }

//     & a {
//       color:white !important;
//     }
  
//     & a:hover {
//       color:white;
//       background:rgba(221, 221, 221, 0) !important;
//     }
//   }

//   &--white {
//     @extend .featured;

//     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25) !important;
//     -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25) !important;
//     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25) !important;

//     background-color: white !important;

//     &:hover {
//       background-color: rgba(245,245,247, 1) !important;
//     }
  
//     & a {
//       color:#646464 !important;
//     }
  
//     & a:hover {
//       color:#646464 !important;
//       background:rgba(221, 221, 221, 0) !important;
//     }

//     &.login a::before {
//       color:#00adf0 !important;
//       font-family: "Font Awesome 5 Pro" !important; font-weight: 900 !important; content: "\f2f6" !important;
//       margin-right:10px;
//     }
//   }
// }

.progress {

  &__section {
    height:400px;
  }

  &__logo {
    height:100px;
  }
  
  &__circle {
    position:relative;
    top:10px;
    left:10px;
    height: 140px;
    width: 140px;
    border-radius:100%;
    box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    background-color:white;
  }

  &__bg {
    background-color:#00adf0;
    border: 10px solid #4dc5f4;
    height:180px;
    width:180px;
    border-radius:150px;
  }

  &__arrow {
    height:40px;
  }

  &__text {
    opacity:1;
    text-align: center;
    position:absolute;
    

    &--up {
      @extend .progress__text;
      top:-185px;
    }

    &--down {
      @extend .progress__text;
      top: 170px;
    }

    & p, h6, small{
      color:white !important;
    }
  }
  
}

.progressMobile {

  &__section {

  }

  &__logo {
    height:60px;
    margin-top:10px;
  }
  
  &__circle {
    position:relative;
    top:10px;
    left:10px;
    height: 80px;
    width: 80px;
    border-radius:100%;
    box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 21px 0px rgba(0,0,0,0.15);
    background-color:white;
  }

  &__bg {
    background-color:#00adf0;
    border: 10px solid #4dc5f4;
    height:120px;
    width:120px;
    border-radius:150px;
    align-self: flex-end;
  }

  &__arrow {
    height:30px;
  }

  &__text {
    opacity:1;
    text-align: center;
    position:absolute;
    
    

    &--left h3{
      @extend .progress__text;
      left:100px;
      top:20px;
      color:white !important; 
  }
}
}

footer {
  padding:50px 0px;

  & .widget-title{
    display: none;
  }

  & ul.menu, ul.sub-menu {
    margin:0;
    padding:0;
    list-style:none;
  }

  & ul li a{
    color: #646464;
    font-weight:700;
  }

  & ul li li a {
      color: #646464;
      font-weight:300;
    }
  & .wp-block-button__link {
    @extend .button--blue;
  }

  & .wp-block-social-links .wp-social-link.wp-social-link.wp-social-link {
      margin: 0;
    }
  & .wp-block-social-links .wp-social-link a {
    padding: 0;
    color:white;
  }
}


main#primary section {
  padding:50px 0px;
}


#tophead {
  background-color: white;

  top: 0px;
  position: fixed;
  padding-left:-14px;
  z-index:99;
}

#masthead {
  padding:5px 0px;
  background-color: white;
  box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);
  -webkit-box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);
  -moz-box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);

  top: 40px;
  position: fixed;
  padding-left:-14px;
  z-index:98;
  width: 100%;

  &.stickyHeader {
    top: 80px;
    position: fixed;
    width: 100%;
    padding-left:-14px;
    z-index:99;
  }
}

.language-selector {
  position: relative;
  z-index: 99;

  &__menu{
    width:220px;
    padding:10px;
    background-color:white;

    list-style:none;

    box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 17px 24px -16px rgba(0,0,0,0.19);

      & li {
        padding:10px;
        border-radius:10px;
        
        &:hover {
          background: #f2f2f2;
        }
      }
  
  }

  &__flag {
    width:30px;
    margin-right:5px;
  }
}

.header-animation {
  position:relative;

  &__screen { 
    position:relative;
    z-index: 1;
    left: 0%;
    object-fit: contain;
  }

  &__entry-type {
    position:absolute;
    z-index: 3;
    width:35%;
    top: 0px;
    height:auto;
    left:55%;
    object-fit: contain;
  }

  &__user {
    position:absolute; 
    z-index: 2;
    width:40%;
    height:auto;
    top:25px;
    left: 25%;
    object-fit: contain;
  }

  &__arrow {
    position:absolute;
    z-index: 4;
    max-width:100px;
    height: auto;
    top: 280px;
    left:-20px;
    object-fit: contain;
  }
}


.trusting-companies__logo {
  margin: 0px 10px 0px 10px;
  max-height: 75px;
  transition: filter 0.1s;
  filter: saturate(0%);
  filter: darkness(0%);

  &:hover {
    filter: saturate(100%);
    filter: darkness(100%);
  }
}